<%= form_for @user, url: password_reset_path(params[:id]) do |form| %>
  <div class="bg-grey-lighter min-h-screen flex flex-col">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
      <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h1 class="mb-8 text-3xl text-center">Reset Password</h1>
        <%= form.password_field :password, class: 'block border border-grey-light w-full p-3 rounded mb-4', required: true, placeholder: "Password"%>
        <%= form.password_field :password_confirmation, class: 'block border border-grey-light w-full p-3 rounded mb-4', required: true, placeholder: "Password Confirmation"%>
        <button class="w-full text-center py-3 rounded bg-green-600 text-white hover:bg-green-dark focus:outline-none my-1">Update Password</button>
      </div>
    </div>
  </div>
<% end %>


